{% extends 'userpage/user_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Schedule Table</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Sl No
                          </th>
                          <th>
                            Date
                          </th>
                          <th>
                            Start Time
                          </th>
                          <th>
                            End Time
                          </th>
                          <th>
                            Take Appointment
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for s in schedule %}
                        <tr>
                          <td class="py-1">
                            {{forloop.counter}}
                          </td>
                          <td>
                            {{s.date}}
                          </td>
                          <td>
                            {{s.start_time}}
                          </td>
                          <td>
                            {{s.end_time}}
                          </td>
                            <td>
                              <a href="{% url 'appointment_take' s.id %}">
                                <button type="button" class="btn btn-primary btn-rounded btn-fw">BOOK APPOINTMENT</button>
                              </a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}